@charset 'utf-8';

/**
 * 공통 (color, font, z-index, size, transition, gif)
 * 레이아웃 (header, footer, sidebar, toolbar, popup, modal, layer)
 * 폼 (공통, checkbox, radio, selectbox)
**/

//< 공통
// color
$color_text_base: #000;
$color_primary_base: #ec1b3c;
// $color_primary_light: ;
// $color_primary_dark: ;
$color_secondary_base: #fd6a25;
// $color_secondary_light: #ff702d;
// $color_secondary_dark: ;
$color_tertiary_base: #107c41;
//> 공통

//< font
// $fontPath: '../font/';// local
// $fontPath: '//image.domain.co.kr/data/fonts/shop/mobile/';// CDN
$fontSize_base: 10px;
$fontFamily_base: 'Malgun Gothic', 'Apple SD 산돌고딕 Neo', sans-serif;// ie에서 31자 이상 적용 안됨
$fontFamily_password: $fontFamily_base;/*monospace, cursive, sans-serif;*/
// $fontFamily_latin: 'Roboto', sans-serif;
// $fontFamily_special: 'Jalnan', 'GothicA1', sans-serif;
//> font

//< z-index
$zIndex_bom: 3200;
$zIndex_loading: 3100;
$zIndex_most: 3000;
$zIndex_skip: $zIndex_most;
$zIndex_modal: 2100;
$zIndex_popup: 2000;
$zIndex_header: 1200;// 1000
$zIndex_toolbar: 1100;
$zIndex_sidebar: 1000;// 1200
$zIndex_floating: 100;
$zIndex_alert: 10;// 텍스트 경고
//> z-index

//< size
$minWidth_pc: 1160px;
$minWidth_base: $minWidth_pc;
$minWidth_extend: $minWidth_base + 200px;// 좌/우 날개배너 확장
//> size

//< transition sec
$time_faster: 0.1s;
$time_fast: 0.2s;
$time_base: 0.4s;
$time_slow: 0.7s;
$time_slower: 1s;
//> transition sec

//< 1px transpatent gif
$image_empty: 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
//> 1px transpatent gif

//< 레이아웃
// 단계: min, base, extend

// header
$height_header_base: 88px;

// footer
$height_footer_base: 45px;

// sidebar
$width_sidebar_base: 210px;
$width_sidebar_min: 50px;

// toolbar
$height_toolbar_base: 53px;

// popup
$header_popup_base: 45px;
$width_popup_base: 950px;
$width_popup_xs: 400px;
$width_popup_sm: 700px;
$width_popup_lg: 1200px;
//> 레이아웃

//< 폼
// 단계: sm, base, lg

// 기본 형태
$borderColor_form_base: #d5d5d5;
$fontSize_form_text_base: 12px;
$fontSize_form_text_lg: 12px;

// 텍스트 인풋
$height_form_text_base: 23px;
$height_form_text_lg: 34px;

// 체크박스
$fontSize_form_check_base: 14px;
$height_form_check_base: 12px;

// 라디오
$height_form_radio_base: 12px;
$fontSize_form_radio_base: 12px;

// 셀렉트
$height_form_select_base: 23px;
$height_form_select_lg: 34px;
$fontSize_form_select_base: 12px;
$fontSize_form_select_sm: 12px;
//> 폼
