@charset 'utf-8';

@use 'sass:math';
@use '../helper/var';
@use '../helper/mixin';

/**
 * 컴포넌트
 * 버튼, 버튼그룹 등 버튼의 기본 단위
**/


//< 탭인덱스
[tabindex] {
	cursor: pointer;
}
//> 탭인덱스

//< 기본형
.mm_btn {
	position: relative;
	padding: 0 23px;
	width: auto;
	height: 46px;
	border-radius: 3px;
	background-color: #5c5c5c;
	@include mixin.font(#fff '15px/46px' center);

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid transparent;
		border-radius: 3px;
		content: '';
	}

	// 사이즈 - base 제외 / 없음 null (type, padding, height, font-size)
	$sizes: (sm, 23px, 36px, 14px), (xs, 11px, 30px, 13px), (2xs, 7px, 24px, 13px),
			(lg, 30px, 54px, 17px), (xl, null, null), (2xl, null, null);
	@each $type, $padding, $height, $fontSize in $sizes {
		&[class*="_#{inspect($type)}_"] {
			@if $height {
				padding: 0 $padding;
				height: $height;
				@include mixin.font('#{$fontSize}/#{$height - 1px}');
			}

			@if $type == sm {
				.__ie11 & { line-height: $height; }
			}

			@if $type == lg {
				line-height: $height;
			}
		}
	}

	// 색상 - base 제외 / 없음 null (type, background-color, color, border-color)
	$colors: (light, #7b7b7b, null, null), (lighter, #999, null, null), (lightest, null, null, null),
			(dark, #3d3d3d, null, null), (darker, null, null, null), (darkest, null, null, null),
			(primary, var.$color_primary_base, #fff, null), (secondary, var.$color_secondary_base, #fff, null), (tertiary, var.$color_tertiary_base, #fff, null);
	@each $type, $bgColor, $fontColor, $borderColor in $colors {
		&[class*="_#{inspect($type)}_"] {
			@if $bgColor {
				background-color: $bgColor;
				color: $fontColor;

				&::after {
					border-color: $borderColor;
				}
			}
		}
	}

	// 라인 - base 제외 / 없음 null (type, background-color, color, border-color)
	&[class*="_line_"] {
		background-color: #fff;
		color: #4a4a4a;

		&::after {
			border-color: #7b7b7b;
		}

		&[class*="_bg_"] {
			background-color: #fdfdfd;
		}

		$lines: (light, null, null, #b8b8b9), (lighter, null, #7b7b7b, #8c8c8c), (lightest, null, null, null),
				(dark, null, #2b2b2b, #2b2b2b), (darker, null, null, null), (darkest, null, null, null),
				(primary, null, var.$color_primary_base, var.$color_primary_base), (secondary, null, var.$color_secondary_base, var.$color_secondary_base), (tertiary, null, var.$color_tertiary_base, var.$color_tertiary_base),
				(naver, null, null, null), (transparent, transparent, null, null);
		@each $type, $bgColor, $fontColor, $borderColor in $lines {
			&[class*="_#{inspect($type)}_"] {
				@if $borderColor {
					background-color: $bgColor;
					color: $fontColor;

					&::after {
						border-color: $borderColor;
					}
				}
			}
		}
	}

	// button 비활성
	&[class*="_disabled_"],
	&:disabled {
		background-color: #e6e6e6;
		color: #a3a3a3 !important;

			&::after {
				border: 0;
			}
	}

	// a태그 href가 없을 때 비활성
	@include mixin.context-unify(a) {
		&:not([href]) {
			background-color: #e6e6e6;
			color: #a3a3a3 !important;

			&::after {
				border: 0;
			}
		}
	}

	// a 다운로드 속성
	// &[download] {
	// }

	// + .mm_note {
	// 	margin-top: 8px;
	// }

	// + .mm_form-text,
	// + .mm_form-select {
	// 	.text_label {
	// 		margin-top: 27px;
	// 	}
	// }
}
//> 기본형

//< 최하단버튼
.mm_foot {
	margin-top: 30px;
}
//> 최하단버튼

//< 버튼그룹
.mm_btnbox {
	@include mixin.font('0' center);
	@include mixin.clearfix();

	> * {
		&:nth-child(n+2) {
			margin: 0 0 0 6px;
		}
	}

	// 가운데 (일렬)
	.mm_block {
		> .mm_btn {
			padding: 0;
			width: 100%;

			&:nth-child(n+2) {
				margin: 12px 0 0 0;
			}
		}
	}

	// 플렉스
	&.mm_flex {
		> * {
			padding: 0;

			&:nth-child(n+2) {
				margin: 0 0 0 6px;
			}
		}
	}

	// mm_btn 사이즈 200 고정
	&.__btnbox_equal__ {
		> * {
			padding: 0;
			width: 200px;
		}
	}
}
//> 버튼그룹

//< 버튼종류
// 이전, 다음
[class*="btn_process-"] {
	i {
		font-size: 20px;

		.__ie11 & { margin-top: 1px; margin-bottom: -1px; }
	}

	// 이전
	.mco_process-prev {
		margin-right: 8px;
	}

	// 다음
	.mco_process-next {
		margin-left: 8px;
	}
}
//> 버튼종류
