@charset 'utf-8';

@use 'sass:math';
@use '../helper/var';
@use '../helper/mixin';
@use '../helper/extend';

/**
** 파츠
** 로딩, 좋아요, 별점
** 드롭다운/아코디언, 탭메뉴, 스와이퍼, 핀치줌, 에디터
** 컨텐츠
** 팝오버, 툴팁, 토스트팝업
**/


//< 드롭다운
.mm_dropdown {
	position: relative;
	font-size: 14px;

	.btn_dropdown {
		position: relative;
		width: 100%;

		[class*="mco_dropdown"] {
			position: absolute;
			top: 50%;
			right: 0;
			@include mixin.font(#a3a3a3 '13px');
			@include mixin.transform(translateY(-50%));
		}

		// 드롭다운 열림
		@include mixin.context-first('.__dropdown-on') {
			[class*="mco_dropdown"] {
				&::before {
					@include mixin.transform(rotate(180deg));
				}
			}
		}
	}

	&-item {
		overflow: hidden;
		height: 0;
		@include mixin.opacity(0, none);
		@include mixin.transition(opacity 0s var.$time_fast);

		// 드롭다운 열림
		.__dropdown-on & {
			@include mixin.opacity(1, auto);
			@include mixin.transition(opacity 0s);
		}

		&-inner {
			position: relative;
		}
	}

	// 주문형
	&.__dropdown_order__ {
		.btn_dropdown {
			padding-right: 50px;
			border-bottom-width: 0;
			cursor: pointer;

			.text_contraction {
				@include mixin.text-ellipsis(1);
				position: absolute;
				top: 50%;
				right: 50px;
				width: 50.66666%;
				height: auto;
				@include mixin.font('13px' right);
				@include mixin.transform(translateY(-50%));

				.text_price {
					font-size: 17px;

					strong::after {
						font-size: 13px;
					}
				}
			}

			.mco_dropdown {
				right: 24px;
				color: var.$color_text_base;
			}
		}

		// .mm_dropdown-item-inner {
		// 	// border-top: 1px solid #e6e6e6;

		// 	// &.mm_inner {
		// 	// 	padding: 14px 10px;
		// 	// }
		// }

		&.__dropdown-on {
			.btn_dropdown {
				border-bottom-width: 1px;
			}

			.mco_dropdown {
				margin-top: -2px;
			}

			.text_contraction:not(.__text_on__) {
				display: none;
			}
		}
	}
}
//> 드롭다운

//< 아코디언 (드롭다운 포함)
.mm_accordion {
	> ul {
		> li {
			border-bottom: 1px solid #eee;
			@include mixin.font('16px/23px');
		}
	}

	.btn_dropdown {
		> p {
			display: inline-block;
			position: relative;
			margin-right: 50px;
			padding: 16px 0 16px 19px;
			font-size: 16px;
		}

		strong {
			color: var.$color_primary_base;
		}

		.mco_dropdown {
			right: 22px;
			@include mixin.font(#7b7b7b '18px/16px');
		}
	}

	.mm_dropdown-item-inner {
		padding: 22px 20px 30px;
		border-top: 1px solid #eee;
		background-color: #fafafa;
		color: #5c5c5c;
	}
}
//> 아코디언

//< 탭메뉴
.mm_tabmenu {
	ul {
		position: relative;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid #eee;
			content: '';
		}

		> li {
			> a,
			.btn_tab {
				@include mixin.font(var.$color_text_base '15px/51px');

				b {
					position: relative;
				}

				&.__tab-on {
					position: relative;
					color: var.$color_primary_base;

					&::after {
						position: absolute;
						z-index: 1;
						right: 0;
						bottom: 0;
						left: 0;
						border-bottom: 2px solid var.$color_primary_base;
						content: '';
					}
				}

				@include mixin.context-first('[class*="_light_"]') {
					font-size: 16px;

					&:not(.__tab-on) {
						color: #7b7b7b;
					}
				}

				// @include mixin.context-first('[class*="_full_"]') {
				// 	// font-size: 16px;

				// 	// &:not(.__tab-on) {
				// 	// 	color: #7b7b7b;
				// 	// }

				// 	&.__tab-on {
				// 		position: relative;

				// 		&::after {
				// 			position: absolute;
				// 			right: 0;
				// 			bottom: -1px;
				// 			left: 0;
				// 			border-bottom: 2px solid var.$color_primary_base;
				// 			content: '';
				// 		}

				// 		// span::after {
				// 		// 	display: none;
				// 		// }
				// 	}
				// }

				// @include mixin.context-first('[class*="_primary_"]') {
				// 	&.__tab-on {
				// 		color: var.$color_primary_base;

				// 		&::after,
				// 		span::after {
				// 			border-bottom-color: var.$color_primary_base;
				// 		}
				// 	}
				// }
			}
		}

		// 탭메뉴 float
		&:not(.mm_flex) {
			font-size: 0;

			> li {
				display: inline-block;

				> a,
				.btn_tab {
					display: block;
					width: 150px;
					text-align: center;
				}
			}
		}
	}
}
//> 탭메뉴

//< 탭컨텐츠
.mm_tab {
	&-item {
		display: none;

		// 탭 선택
		&.__tab-on {
			display: block;
		}
	}
}
//> 탭컨텐츠

//< 캐러셀
.mm_carousel {
	position: relative;

	&-inner {
		overflow: hidden;
		// * 좌/우 padding은 inner에 적용
	}

	&-list {
		position: relative;
		// padding-bottom: %;// item이 absolute로 높이는 %로 지정
		// * _isAutoHeight: true 이면, 높이는 padding-bottom 대신 height로 하고 overflow: hidden; 필요에 따라 적용 필요
	}

	&-item {
		position: absolute;
		width: 100%;
		background-color: #fff;
		// * margin 대신 padding 으로 적용

		figcaption {
			visibility: hidden;

			.__carousel-ready & {
				visibility: inherit;
			}
		}

		&.__carousel-on {
			z-index: 1;
		}

		> a {
			display: block;
		}
	}

	// 이전, 다음
	&-control {
		//
	}

	.btn_carousel-prev,
	.btn_carousel-next {
		position: absolute;
		z-index: 3;
		top: 50%;
		@include mixin.transform(translateY(-50%));
	}

	.btn_carousel-prev {
		left: 0;
	}

	.btn_carousel-next {
		right: 0;
	}

	// 페이지네이션
	&-pagination {
		position: absolute;
		z-index: 3;
		bottom: 35px;
		left: 50%;
		@include mixin.font('0', nowrap);
		@include mixin.transform(translateX(-50%));

		li {
			display: inline-block;

			&:nth-child(n+2) {
				margin-left: 7px;
			}
		}

		.btn_carousel-page {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: rgba(#101010, 0.3);

			&.__carousel-on {
				background-color: #5c5c5c;
			}
		}
	}

	// 개수
	&-count {
		position: absolute;
		z-index: 3;

		.text_carousel-index {
			//
		}

		.text_carousel-total {
			//
		}
	}
}
//> 캐러셀

//< 슬라이더
.mm_slider {
	position: relative;

	&-inner {
		overflow: hidden;
		// * 좌/우 padding은 inner에 적용
		// * 개수가 영역보다 적을 때 center가 아닌 left/right 정렬을 해야 할 경우, &[style*="center"] {} 로 변경 가능
	}

	&-list {
		display: inline-block;
		font-size: 0;
		white-space: nowrap;
		text-align: left;
	}

	&-item {
		display: inline-block;
		background-color: #fff;
		white-space: normal;
		// * margin 대신 padding 으로 적용하고 left/right 한 쪽보다 양쪽을 권장

		figcaption {
			visibility: hidden;

			.__slider-ready & {
				visibility: inherit;
			}
		}

		> a {
			display: block;
		}
	}

	// 이전, 다음
	&-control {
		//
	}

	.btn_slider-prev,
	.btn_slider-next {
		position: absolute;
		z-index: 3;
		// top: 50%;
		// @include mixin.transform(translateY(-50%));
	}

	.btn_slider-prev {
		// left: 0;
	}

	.btn_slider-next {
		// right: 0;
	}

	// 페이지네이션
	&-pagination {
		position: absolute;
		z-index: 3;
		bottom: 35px;
		left: 50%;
		@include mixin.font('0', nowrap);
		@include mixin.transform(translateX(-50%));

		ol {
			margin: 0;

			li {
				display: inline-block;
				float: none;
				margin: 0;
				width: auto;

				&:nth-child(n+2) {
					margin-left: 7px;
				}
			}
		}

		.btn_slider-page {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: rgba(#101010, 0.3);

			&.__slider-on {
				background-color: #5c5c5c;
			}
		}
	}
}
//> 슬라이더

//< 에디터
.mm_editor {
	@include mixin.font(#000 400 '12px/1.4' left);
}
//> 에디터

//< 팝오버
// .mm_popover {
// 	position: relative;
// 	text-align: center;

// 	h6 {
// 		display: inline-block;
// 		@include mixin.font(#7b7b7b '14px/29px');
// 	}

// 	.btn_help {
// 		display: inline-block;
// 		padding: 0 4px;
// 		@include mixin.font(#8c8c8c '13px/29px');

// 		&.__switch-on {
// 			+ .mm_popover-item {
// 				display: block;
// 			}
// 		}
// 	}

// 	&-item {
// 		display: none;
// 		position: relative;
// 		margin: 0 auto;
// 		padding: 8px 14px;
// 		width: 266px;
// 		border: 1px solid #8c8c8c;
// 		border-radius: 3px;
// 		@include mixin.font(#2b2b2b '12px/17px' left);

// 		.btn_close {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			padding: 6px;
// 			@include mixin.font(var.$color_text_base '11px/1');
// 		}

// 		&-box {
// 			margin-top: 7px;
// 			padding: 9px;
// 			background-color: #fafafa;
// 			text-align: center;

// 			+ * {
// 				margin-top: 6px;
// 			}
// 		}

// 		.btn_email {
// 			position: relative;

// 			&::after {
// 				position: absolute;
// 				right: 0;
// 				bottom: 0;
// 				left: 0;
// 				border-bottom: 1px solid var.$color_primary_dark;
// 				content: '';
// 			}
// 		}
// 	}
// }
//> 팝오버

//< 툴팁
// .mm_tooltip {
// 	display: inline-block;
// 	position: relative;

// 	h6 {
// 		display: inline-block;
// 		@include mixin.font(#7b7b7b 300 '12px/16px');
// 	}

// 	.btn_help {
// 		padding: 0 1px;
// 		@include mixin.font(#8c8c8c '11px/16px');

// 		&.__switch-on {
// 			+ .mm_tooltip-item {
// 				display: inline-block;
// 			}
// 		}
// 	}

// 	&-item {
// 		display: none;
// 		position: absolute;
// 		top: -15px;
// 		right: -1px;

// 		.mco_tooltip-edge {
// 			position: absolute;
// 			right: 5px;
// 			bottom: -2px;
// 			@include mixin.triangle(#4a4a4a, bottom, 2px, 2px);
// 		}

// 		p {
// 			padding: 0 3px 0 2px;
// 			height: 15px;
// 			border-radius: 3px;
// 			background-color: #4a4a4a;
// 			@include mixin.font(#fff 300 '10px/14px', nowrap);
// 		}
// 	}
// }
//> 툴팁

//< 토스트
.mm_toast {
	position: absolute;
	z-index: var.$zIndex_floating;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	@include mixin.transform(translateY(100%));
	@include mixin.transition(transform var.$time_fast);

	.btn_toast {
		@include mixin.prefix(box-shadow, 0 -1px 3px 0 rgba(#000, 0.14), webkit);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding-top: 22px;
		min-height: 56px;
		border-radius: 17px 17px 0 0;
		background-color: #fff;
		@include mixin.transform(translateY(-100%));
		cursor: pointer;

		&::before {
			position: absolute;
			top: 7px;
			right: 0;
			left: 0;
			margin: 0 auto;
			width: 39px;
			height: 4px;
			border-radius: 2px;
			background-color: #cdcdcd;
			content: '';
		}
	}

	&-inner {
		//
	}

	// 토스트 열림
	&.__toast-on {
		@include mixin.transform(translateY(0));

		~ .btn_topmost,
		~ .m_timedeal-wing {
			@include mixin.opacity(0);
		}
	}

	~ .btn_topmost {
		bottom: 15px + 56px + var.$height_toolbar_base !important;// 여백 + 토스트팝업높이 + 툴바높이
		@include mixin.transition(bottom var.$time_fast);

		+ .m_timedeal-wing {
			bottom: 15px + 56px + var.$height_toolbar_base !important;// 여백 + 토스트팝업높이 + 툴바높이
		}

		&.__on {
			bottom: 15px + 56px + var.$height_toolbar_base !important;// 여백 + 토스트팝업높이 + 툴바높이

			+ .m_timedeal-wing {
				bottom: 23px + 56px + 46px + var.$height_toolbar_base !important;// 여백 + 토스트팝업높이 + 툴바 높이 + topmost 높이
			}
		}

		.__header-hide & {
			bottom: 15px + 56px !important;

			+ .m_timedeal-wing {
				bottom: 15px + 56px !important;
			}
		}
	}
}
//> 토스트

//< 로딩
.mm_loading {
	position: fixed;
	z-index: var.$zIndex_loading;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#fff, 0.1);
	@include mixin.font('0/1' center);

	.mm_page > & {
		position: absolute;// mobile: absolute, pc: fixed
		// top: var.$height_header_base;
		// bottom: var.$height_toolbar_base;
	}

	&-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		height: auto !important;
		@include mixin.transform(translate(-50%, -50%));
	}

	.mco_loading {
		width: 29px;// font-size + 4
		height: 29px;
		border-radius: 100%;
		background-color: rgba(#fff, 0.8);
		@include mixin.font(var.$color_primary_base '25px/29px');
	}

	p:not(.mm_ir-blind) {
		margin-top: 7px;
		@include mixin.font('14px/18px', nowrap);
	}
}
//> 로딩

//< 당겨서 새로고침
.mm_refresh {
	position: fixed;
	z-index: -1;
	top: var.$height_header_base;// 헤더 높이
	right: 0;
	left: 0;
	padding-top: 40px;
	height: 60%;
	background-color: #f5f5f5;

	[class*="_main_"] & {
		top: (var.$height_header_main + var.$height_gnb);
	}

	.ico_loading {
		position: relative;
		margin: 0 auto;
		width: 30px;
		height: 29px;

		i {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -2px;
			width: 4px;
			height: 10px;
			border-radius: 2px;
			background-color: var.$color_primary_dark;
			@include mixin.prefix(transform-origin, 50% 150%);
			@include mixin.prefix(animation, loading_spin (0.12s * 8) ease-out infinite);

			@for $i from 1 through 8 {
				&:nth-child(#{$i + 1}) {
					@include mixin.transform(rotate(45deg * $i));
					@include mixin.prefix(animation-delay, 0.12s * ($i - 8));
				}
			}
		}
	}

	@keyframes loading_spin {
		0% {
			@include mixin.opacity(1);
		}

		100% {
			@include mixin.opacity(0);
		}
	}

	p {
		padding-top: 10px;
		@include mixin.font('15px' center);
	}
}
//< 당겨서 새로고침

//< 좋아요
.mm_like {
	padding: 7px 5px 4px 7px;
	@include mixin.font(#fff '15px' center);

	.mco_like {
		text-shadow: 0 0 2px rgba(#000, 0.4);
	}

	&.__switch-on {
		color: var.$color_primary_base !important;

		.mco_like {
			@include mixin.monticon('', \ff19);
		}
	}
}
//> 좋아요

//< 리뷰
.mm_star {
	// .mco_star {
	// 	@include mixin.font(#f2953a '18px');
	// }

	// &.__switch-on {
	// 	.mco_star {
	// 		@include mixin.monticon('', \ecfa);
	// 	}
	// }
}
//> 리뷰

//< 별점
.mm_stars {
	//
}
//> 별점

//< 핀치줌
.mm_pinchzoom {
	overflow: hidden;

	// 확대 안내문구
	&-note {
		position: fixed;
		z-index: 1;
		top: 50%;
		left: 50%;
		padding-top: 60px;
		width: 195px;
		height: 195px;
		border-radius: 100%;
		background-color: rgba(255, 255, 255, 0.82);
		@include mixin.font('16px/22px' center);
		@include mixin.opacity(0, none);
		@include mixin.transform(translate(-50%, -50%));
		@include mixin.transition(opacity var.$time_fast);

		&.__note-on {
			@include mixin.opacity(1, auto);
		}

		.mco_zoom {
			display: block;
			margin-bottom: 15px;
			font-size: 32px;
		}
	}
}
//> 핀치줌

//< 카테고리
// .mm_category {
	// 아이템
	// &-item {
	// 	position: relative;
	// 	padding-bottom: 19px;
	// 	text-align: center;

	// 	.mm_ico-category {
	// 		padding-top: 4px;
	// 		width: 45px;
	// 		height: 45px;
	// 		border: 1px solid #e4e4e4;
	// 		border-radius: 100%;

	// 		&::before {
	// 			@include mixin.transform(scale(0.75));
	// 		}
	// 	}

	// 	figcaption {
	// 		position: absolute;
	// 		bottom: 0;
	// 		left: 50%;
	// 		@include mixin.font(300 '14px', nowrap);
	// 		@include mixin.transform(translateX(-50%));
	// 	}
	// }
// }
//> 카테고리

//< 단계별 입력
.mm_process {
	position: relative;

	.mm_process-item {
		&:not(.__process-on) {
			visibility: hidden;
			overflow: hidden;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 0;
			@include mixin.opacity(0, none);
		}

		&.__process-on {
			visibility: inherit;
		}
	}
}
//> 단계별 입력

//< 쿠폰
.mm_coupon {
	@include mixin.prefix(box-shadow, 0 0 5px 0 rgba(#000, 0.17), webkit);
	position: relative;
	width: 240px;
	height: 130px;
	text-align: left;

	.mm_coupon-inner {
		position: relative;
		display: block;
		padding: 20px 45px 0 20px;
		height: 100%;
		background-color: #fff;

		&[href] {
			.text_download {
				background-color: var.$color_primary_base;
				color: #fff;
			}
		}
	}

	.text_badge {
		position: absolute;
		top: -10px;
		right: 55px;
		width: 47px;
		height: 47px;
		border-radius: 100%;
		background-color: var.$color_secondary_light;
		@include mixin.font(#fff '13px/14px' center [var.$fontFamily_latin]);

		span {
			position: absolute;
			top: 50%;
			left: 0;
			padding-top: 2px;
			width: 100%;
			@include mixin.transform(translateY(-50%));
		}

		strong {
			display: inline-block;
			margin-left: 2px;
			vertical-align: 0;
			font-size: 20px;
		}
	}

	.text_price,
	.text_percent {
		@include mixin.font(700 '26px/1' [var.$fontFamily_latin]);

		strong {
			vertical-align: 0;

			&::after {
				font-size: 13px;
			}
		}

		sub {
			@include mixin.font(400 '20px');
		}
	}

	.text_coupon {
		@include mixin.text-ellipsis(1);
		margin: 1px 10px 0 0;
		@include mixin.font('15px/20px');
	}

	.text_limit {
		@include mixin.text-ellipsis(1);
		margin: 7px 10px 0 0;
		@include mixin.font(#999 '12px');
	}

	.image_logo {
		display: block;
		margin-top: 15px;
		width: 47px;
		height: 10px;
		@include mixin.background(url('https://img.fashionplus.co.kr/ui/mobile/common/logo.png') '0 0/contain' no-repeat);
	}

	.text_download {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 37px 5px 0;
		width: 45px;
		background-color: #a3a3a3;
		@include mixin.font(#dcdcdc '14px/16px' center);

		i {
			display: block;
			margin-top: 22px;
			font-size: 19px;

			&::before {
				@include mixin.transform(scale(-1));
			}
		}

		&::after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 4px;
			@include mixin.background(radial-gradient(ellipse at center, #fff 0%, #fff 30%, transparent 30%) '50% 0/8px 10px' repeat-y);
			content: '';
			@include mixin.transform(translateX(-2.5px));
		}
	}

	&[class*="_lg_"] {
		width: 291px;
		height: 157px;

		.mm_coupon-inner {
			padding: 24px 4px 0 20px;

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 4px;
				@include mixin.background(url('https://img.fashionplus.co.kr/ui/mobile/content/coupon_punching.gif') '0 0/contain' repeat-y);
				content: '';
			}

			.text_coupon {
				@include mixin.text-ellipsis(2);
				margin: 6px 40px 0 0;
				height: 40px;
				white-space: normal;
			}

			.text_limit {
				margin-top: 5px;
			}

			.image_logo {
				margin-top: 13px;
			}
		}

		.text_badge {
			right: 18px;
			@include mixin.font([var.$fontFamily_base], inherit);

			span {
				padding: 0 10px;
			}
		}
	}

	&[class*="_sm_"] {
		width: 210px;
		height: 105px;

		.mm_coupon-inner {
			.image_logo {
				margin-top: 13px;
			}

			.text_download {
				padding-top: 22px;

				i {
					margin-top: 12px;
				}
			}
		}
	}
}
//> 쿠폰

//< 금액/혜택
.mm_costbox {
	.mm_cost ~ .mm_cost {
		border-top: 1px solid #eee;

		.text_price {
			color: #000;
		}
	}
}

.mm_cost {
	padding: 17px 24px 16px 20px;
	@include mixin.font('15px/24px');

	.text_price {
		strong {
			@include mixin.font(500 '17px');

			&::after {
				font-size: 14px;
			}
		}

		// 총 할인금액
		&[class*="_discount_"] {
			color: var.$color_secondary_light;
		}
	}

	> table {
		th {
			width: 58%;
			@include mixin.font(#4a4a4a left);
		}

		td {
			@include mixin.font(#000 right);
		}

		tbody {
			tr:first-child .text_price {
				color: #4a4a4a;
			}
		}

		tfoot {
			th,
			td {
				padding: 13px 0 4px;
			}

			th {
				@include mixin.font(#000 '17px');

				span {
					font-size: 14px;

					strong {
						vertical-align: 0;
						@include mixin.font(500 '17px' [var.$fontFamily_latin]);
					}
				}
			}

			.text_price strong {
				margin: 1px 0 -1px;
				@include mixin.font(700 '20px');
			}
		}
	}
}

.mm_cost-info {
	padding: 24px 24px 24px 20px;
	background-color: #fafafa;
	border: 1px solid #eee;
	border-width: 1px 0 1px;

	dl {
		position: relative;
		padding-left: 73px;

		dt {
			position: absolute;
			top: 0;
			left: 0;
			width: 63px;
			height: 20px;
			border: 1px solid #a3a3a3;
			border-radius: 3px;
			background-color: #fff;
			@include mixin.font(#8c8c8c '12px/18px' center);
		}

		dd {
			@include mixin.font('13px/20px');

			.btn_reciept {
				position: relative;
				margin-left: 9px;
				@include mixin.font(var.$color_primary_base '12px/18px');

				&::before {
					position: absolute;
					right: 0;
					bottom: 1px;
					left: 0;
					border-bottom: 1px solid var.$color_primary_base;
					content: '';
				}

				&::after {
					position: absolute;
					top: -5px;
					right: -10px;
					bottom: -5px;
					left: -10px;
					content: '';
				}

				.mco_link {
					margin: 5px 0 0 5px;
					@include mixin.font('10px/1');
				}
			}
		}

		+ dl {
			margin-top: 9px;
		}
	}
}
//> 금액/혜택

//< 주문관련정보
.mm_order-info {
	position: relative;
	padding: 14px 10px 15px;
	@include mixin.font('14px/20px');

	table {
		tr {
			> * {
				padding: 4px 0;
				text-align: left;
			}

			th {
				width: 86px;
				vertical-align: top;
				color: #7b7b7b;
			}
		}
	}

	// .btn_address-change,
	// .btn_ship-modify {
	.mm_btn {
		position: absolute;
		top: 17px;
		right: 10px;
	}

	// 라인 박스 형태
	&[class*="_line_"] {
		padding: 10px 12px;
		border: 1px solid #e6e6e6;
		border-radius: 3px;
		background-color: #fafafa;

		.mm_btn {
			top: 13px;
			right: 13px;
		}

		.btn_ship {
			position: relative;
			margin-left: 13px;
			@include mixin.font(var.$color_secondary_base '13px');

			&::after {
				position: absolute;
				right: 0;
				bottom: 2px;
				left: 0;
				border-bottom: 1px solid var.$color_secondary_base;
				content: '';
			}

			.mco_link {
				margin-left: 5px;
				font-size: 10px;
			}
		}
	}
}
//> 주문관련정보

//< 상품 선택 (셀렉트박스 형태)
.mm_select-product {
	.mm_dropdown {
		background-color: #fff;

		&.__dropdown-on {
			.btn_dropdown {
				border-radius: 3px 3px 0 0;
			}

			+ .mm_select-product-selected {
				display: none;
			}
		}

		.btn_dropdown {
			padding: 0 38px 0 13px;
			height: 42px;
			border: 1px solid #cdcdcd;
			border-radius: 3px;
			@include mixin.font('15px/40px' left);

			.mco_dropdown-bold {
				right: 14px;
				@include mixin.font(#7b7b7b '20px');
			}
		}
	}

	.mm_product-list {
		max-height: 248px;
		border: 1px solid #cdcdcd;
		border-top: 0;
		border-radius: 0 0 3px 3px;

		ul {
			border: 0;
		}

		.mm_product-item {
			cursor: pointer;
		}
	}

	&-selected {
		display: none;
		position: relative;
		border: 1px solid #cdcdcd;
		border-top: 0;
		border-radius: 0 0 3px 3px;
		background-color: #fff;

		.btn_remove {
			position: absolute;
			top: 0;
			right: 0;
			width: 38px;
			height: 35px;
			@include mixin.font(#aeaeae '11px/30px' center);
		}
	}

	&.__product-selected {
		.btn_dropdown {
			border-radius: 3px 3px 0 0;
		}

		.mm_select-product-selected {
			display: block;
		}
	}
}
//> 상품 선택 (셀렉트박스 형태)

//< 신용/체크카드 결제
.mm_payment-card {
	padding: 21px 13px 20px;
	border: 1px solid #f5f5f5;
	background-color: #fff;

	.btn_card-guide {
		position: relative;
		padding: 11px 5px 0;
		@include mixin.font(#4a4a4a '13px');

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: -11px;
			left: 0;
			content: '';
		}

		.mco_link {
			margin-left: 8px;
			@include mixin.font(var.$color_text_base '12px/14px');
		}
	}
}
//> 신용/체크카드 결제

//< 공통 고정 영역
.mm_sticky- {
	&head {
		height: 58px;

		&-inner {
			position: fixed;
			z-index: var.$zIndex_floating;
			top: var.$height_header_base - 2px;
			right: 0;
			left: 0;
			padding-top: 2px;
			border-bottom: 8px solid #eee;
			background-color: #fafafa;
			@include mixin.transition(transform var.$time_fast);

			.__header-hide & {
				@include mixin.transform(translateY(-#{var.$height_header_base}));
			}

			&::after {
				position: absolute;
				right: 0;
				bottom: -1px;
				left: 0;
				border-bottom: 1px solid #e6e6e6;
				content: '';
			}
		}

		.mm_form-check {
			padding: 14px 0 13px 10px;
		}

		.mm_btnbox {
			position: absolute;
			top: 2px;
			right: 20px;
			bottom: 0;
			font-size: 0;

			> .mm_btn {
				margin: 12px 0 0 10px;
				width: auto;
			}

			.btn_delete {
				padding: 0 10px;
				@include mixin.font(#5c5c5c '13px/50px');
			}
		}
	}

	&foot {
		position: fixed;
		z-index: var.$zIndex_floating;
		bottom: 0;
		left: 0;
		width: 100%;

		// 폼요소 포커싱되면 페이지 하단으로 이동
		// .__focus & {
		// 	position: absolute;
		// 	bottom: 0;
		// }

		// 툴바가 없으면 화면 하단으로 이동
		.__toolbar-hide & {
			bottom: 0;
		}

		// 하단버튼
		> [class*="_flex_equal_"] {
			button {
				height: 60px;
				background-color: var.$color_primary_base;
				@include mixin.font(#fff '19px/54px' center);

				// 비활성
				&:disabled {
					background-color: #e6e6e6;
					color: #a3a3a3;
				}
			}

			// 상품상세
			.btn_product-cart {
				background-color: #3d3d3d;
			}
		}
	}
}
//> 공통 고정 영역

//< 검색필터
.mm_filter {
	position: relative;

	&-detail {
		padding: 18px 41px 26px 19px;
	}

	section + section {
		margin-top: 19px;
	}

	.mm_btnbox {
		margin-top: 22px;

		.btn_filter-reset {
			padding: 0;
			width: 42px;

			.mco_reset {
				@include mixin.transform(scaleX(-1));
				@include mixin.font('19px/43px');
			}
		}

		.btn_filter-search {
			margin-left: 4px;
			width: 156px;
		}
	}

	.btn_filter-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 13px;
		@include mixin.font(#5c5c5c '16px/1');
	}

	&-price {
		.mm_radio-list {
			ul {
				margin: -3px 0 0 -3px;

				li {
					margin: 0;
					padding: 3px 0 0 3px;
					width: 50%;

					&:nth-child(n+2) {
						margin-top: 0;
					}
				}
			}
		}

		.mm_form-radio {
			overflow: hidden;
			padding-left: 0;
			width: 100%;
			border-radius: 3px;

			:checked + .mm_block {
				background-color: #5c5c5c;

				&::before {
					border-color: #5c5c5c;
				}

				.text_label {
					color: #fff;
				}
			}

			.mm_block {
				padding: 0 15px;
				text-align: left;

				&::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border: 1px solid #6a6a6a;
					border-radius: 3px;
					content: '';
				}

				.text_label {
					@include mixin.font(#5c5c5c '13px/32px');
				}

				.mco_check {
					position: absolute;
					top: 1px;
					right: 11px;
					@include mixin.font(#fff '17px/32px');
				}
			}
		}

		.mm_formmix-linked {
			margin-top: 12px;
		}
	}
}
//> 검색필터

//< 브랜드메뉴
.mm_brand-menu {
	display: grid;
	grid-template-columns: repeat(3, 33.33333%);
	border-top: 1px solid #eee;

	li {
		position: relative;
		text-align: center;

		&:nth-child(3n+1)::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 300%;
			border-bottom: 1px solid #eee;
			content: '';
		}

		> a {
			display: block;
			padding: 0 10px;

			> b {
				display: block;
				@include mixin.text-ellipsis(1);
				height: 41px;
				@include mixin.font('13px/40px');
			}
		}
	}

	.mm_image-brand {
		padding: 7px 12px;
		max-width: 150px;

		$format: (landscape-4x, 15px 3px), (landscape-3x, 11px 23px), (landscape-2x, 10px 18px), (portrait-2x, 6px), (portrait, 6px);
		@each $ratio, $padding in $format {
			&.__image-#{$ratio} {
				padding: $padding;
			}
		}
	}
}
//> 브랜드메뉴

//< 인쇄영역 (영수증)
.mm_print {
	padding-top: 17px;

	h2 {
		position: relative;
		margin-left: 1px;
		padding-bottom: 13px;
		@include mixin.font('16px/23px');

		.image_logo {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 92px;
			height: 20px;
		}
	}

	table {
		border: 1px solid #d6d6d6;

		tr {
			> * {
				padding: 10px 12px 11px;
				border-top: 1px solid #d6d6d6;
				@include mixin.font('13px/19px' left);
			}

			&:first-child {
				> * {
					border-top: 0;
				}
			}
		}

		th {
			width: 136px;
			border-right: 1px solid #d6d6d6;
			background-color: #eee;
		}
	}

	.text_price strong::after {
		vertical-align: 0;
	}

	+ .mm_note {
		margin-top: 10px;
	}

	~ .mm_foot {
		padding: 0 18px;
	}
}
//> 인쇄영역 (영수증)

//< 유선상담중지 안내팝업(마이페이지 메인, 고객센터 메인)
.m_counsel-popup {
	position: fixed;
	z-index: var.$zIndex_most;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include mixin.opacity(0);
	@include mixin.transition(opacity var.$time_fast);

	&.__on {
		@include mixin.opacity(1);
	}

	&-dim {
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.8);
	}

	&-item {
		overflow: hidden;
		position: absolute;
		z-index: var.$zIndex_most;
		top: 50%;
		left: 50%;
		padding-top: 25px;
		width: 307px;
		border-radius: 3px;
		background-color: #fff;
		@include mixin.font(#2b2b2b center);
		@include mixin.transform(translate(-50%, -50%));

		.image_banner {
			margin-bottom: 18px;
			width: 278px;
			height: 276px;
		}

		.mm_btnbox {
			margin: 0;
			border-top: 1px solid #d5d5d5;

			button {
				position: relative;
				z-index: 1;
				height: 42px;
				background-color: #fff;
				@include mixin.font(#6a6a6a '14px/38px');

				&:nth-child(n+2) {
					margin-left: 0;
					border-left: 1px solid #d5d5d5;
				}

				b {
					width: 100%;
				}
			}
		}
	}
}
//> 유선상담중지 안내팝업(마이페이지 메인, 고객센터 메인)

//< 기획쿠폰 첫구매, 오랜만이에요, 재구매 팝업 (로그인, 주문완료)
.m_coupon-popup {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include mixin.opacity(0);
	@include mixin.transition(opacity var.$time_fast);

	&.__on {
		z-index: var.$zIndex_most;
		@include mixin.opacity(1);
	}

	&-dim {
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.8);
	}

	&-item {
		overflow: hidden;
		position: absolute;
		z-index: var.$zIndex_most;
		top: 50%;
		left: 50%;
		width: 350px;
		height: 420px;
		border-radius: 3px;
		background-color: #fff;
		@include mixin.transform(translate(-50%, -50%));

		> .mm_btnbox {
			margin: 33px 15px 0;
		}
	}
}
//> 기획쿠폰 첫구매, 오랜만이에요, 재구매 팝업 (로그인, 주문완료)